<!DOCTYPE html>
<html lang="en">

<head>
    <title> AFTR_MARKT : Login </title>
		<link rel="icon" href="/Icons/tab.png">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='mystyle1.css')}}"/>
    <script src="{{ url_for('static', filename ='javascript1.js')}}"></script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script>
		/* JQUERY FOR MOBILE MENU BAR */

		$(document).ready(function(){
    	$(".mobile_nav").on("click", function(){
        $("header nav ul").toggleClass("open");
        $("li.nav_bar_element").toggleClass("open");
        $(".final_icons").toggleClass("open");
        $("#desktop_nav").remove();
    	});
		});

		//refresh page on browser resize
		$(window).bind('resize', function(e)
		{
  		this.location.reload(false); /* false to get page from cache */
		});

		$(document).ready(function(){
     if ($(window).width() > 900){
         $("#mobile_nav").remove();
         $("").remove();
         $("#desktop_nav").append(`
            <a href="/index">
                <img src="/Icons/logo_clear.png" height="25" alt="HOME PAGE" onclick="/" />
            </a>
        `);
     	} 
		});
		</script>

		{% if session['ShoppingCart']|length > 0 %}
		<script>
		$(document).ready(function(){
     		if ($(window).width() < 900){
         	$("#mobile_nav").append(`<img src="/Icons/logo_clear.png" height="45" alt="HOME PAGE"/>`);
         	$("#Mobile_Cart_Text").append(" - CART");
     		} 
			});
		</script>
		{% endif %}

		{% if session['ShoppingCart']|length == 0 %}
		<script>
		$(document).ready(function(){
     		if ($(window).width() < 900){
         	$("#mobile_nav").append(`<img src="/Icons/logo_clear.png" height="45" alt="HOME PAGE"/>`);
         	$("#Mobile_Cart_Text").append("CART");
     		} 
			});
		</script>
		{% endif %}

		{% if current_user.is_authenticated == False %}
			<script> 
				$(document).ready(function(){
           if ($(window).width() < 900){
				      $("#Mobile_Status_Text").append("PROFILE");
           } 
        });
			</script>
		{% endif %}
		{% if current_user.is_authenticated %}
    	<script> 
				$(document).ready(function(){
     			if ($(window).width() < 900){
						$("#Mobile_Status_Text").append("{{ current_user.username }}");
     			} 
				});
			</script>      
		{% endif %}
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta charset="UTF-8">
</head>



<body id="Login">
    <script>
        // AFTR_MARKT
        // Hype Culture, Reinvented
        //
        //
        // Designed by: Kyle Awah (816012635)
        //
        // Created on: 23/3/2020
        // INFO 2602 (Web Programming and Technologies 1)
    </script>


     <!-- NAVIGATION TABS -->

		<header>
    <div class="nav" id="navbar">
			<nav>
				<a class="mobile_nav" id="mobile_nav"> 
    
        </a>
        <ul class="nav_bar_element">
            <li id="desktop_nav" class="nav_bar_element">
                        
            </li>
            <li class="nav_bar_element">
                <a href="/discover">
                    <img src="Icons/featured.png" height="15" alt="DISCOVER" />
                    DISCOVER
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/tees">
                    <img src="Icons/tees.png" height="15" alt="TEES" />
                    TEES
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/jackets">
                    <img src="Icons/jackets.png" height="15" alt="JACKETS" />
                    JACKETS
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/pants">
                    <img src="Icons/pants.png" height="15" alt="PANTS" />
                    PANTS
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/shoes">
                    <img src="Icons/shoes.png" height="15" alt="SHOES" />
                    SHOES
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/accessories">
                    <img src="Icons/accessories.png" height="15" alt="ACCESSORIES" />
                    ACCESSORIES
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/cart" id="Mobile_Cart_Text">
                    <img src="Icons/shopping_cart.png" class="final_icons" alt="CART" />
										{% if session['ShoppingCart']|length > 0 %}
											{{session['ShoppingCart']|length}}
										{% endif %}
                </a>
            </li>
            <li class="nav_bar_element">
							{% if current_user.is_authenticated == False %}
                <a class="active" href="/login" id="Mobile_Status_Text">
                    <img id="PROFILE_STATUS" src="Icons/profile.png" class="final_icons" alt="Profile" />
                </a>
							{% endif %}

							{% if current_user.is_authenticated %}
                <a href="/profile" id="Mobile_Status_Text">
                    <img id="PROFILE_STATUS" src="Icons/logged_in.png" class="final_icons" alt="Profile" />
                </a>
							{% endif %}
            </li>
        </ul>
			</nav>
    </div>
		</header>

 		<header class="v-header container">
        <div class="fullscreen-video-wrap">
            <img src="Images/aftr.jpg" alt="Main Home Image">
        </div>
        <div class="header-overlay"></div>
    </header>
		<br>

    <div class="box">
        <h2>Login</h2>
	
				{% with messages = get_flashed_messages() %}
  				{% if messages %}
        		<h6>
        			{% for message in messages %}
          			{{ message }}
        			{% endfor %}
        		</h6>
  				{% endif %}
				{% endwith %}

        <form action="/login" method="POST">
						{{ form.csrf_token }}

            <div class="inputBox">
								{{ form.username(size=20, class="validate") }}
                {{ form.username.label }}
            </div>

            <div class="inputBox">
								{{ form.password(size=20, class="validate") }}
                {{ form.password.label }}
            </div>

            <div class="Login_Buttons">
                {{form.submit}}
                <br> <br> <br>
                <button id="Sign_Up_BTNN" onclick="window.location = '/signup'"> Dont have an account? Click me </button>
            </div>

        </form>
    </div>

    <script>
        // Press enter in the search box to act as a button press instead of clicking the button 

        // This Allows the user to press enter in the text field to submit it instantly instead of having to click the button

        var input = document.getElementById("Password");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("MYBUTTON").click();
            }
        });
    </script>

</body>
</html>
