<!DOCTYPE html>
<html lang="en">

<head>
    <title> AFTR_MARKT : Your Cart </title>
		<link rel="icon" href="/Icons/tab.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='mystyle1.css')}}"/>
    <script src="{{ url_for('static', filename ='javascript1.js')}}"></script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script>
		/* JQUERY FOR MOBILE MENU BAR */

		$(document).ready(function(){
    	$(".mobile_nav").on("click", function(){
        $("header nav ul").toggleClass("open");
        $("li.nav_bar_element").toggleClass("open");
        $(".final_icons").toggleClass("open");
        $("#desktop_nav").remove();
    	});
		});

		//refresh page on browser resize
		$(window).bind('resize', function(e)
		{
  		this.location.reload(false); /* false to get page from cache */
		});

		$(document).ready(function(){
     if ($(window).width() > 900){
         $("#mobile_nav").remove();
         $("").remove();
         $("#desktop_nav").append(`
            <a href="/index">
                <img src="/Icons/logo_clear.png" height="25" alt="HOME PAGE" onclick="/" />
            </a>
        `);
     	} 
		});
		</script>

		{% if session['ShoppingCart']|length > 0 %}
		<script>
		$(document).ready(function(){
     		if ($(window).width() < 900){
         	$("#mobile_nav").append(`<img src="/Icons/logo_clear.png" height="45" alt="HOME PAGE"/>`);
         	$("#Mobile_Cart_Text").append(" - CART");
     		} 
			});
		</script>
		{% endif %}

		{% if session['ShoppingCart']|length == 0 %}
		<script>
		$(document).ready(function(){
     		if ($(window).width() < 900){
         	$("#mobile_nav").append(`<img src="/Icons/logo_clear.png" height="45" alt="HOME PAGE"/>`);
         	$("#Mobile_Cart_Text").append("CART");
     		} 
			});
		</script>
		{% endif %}

		{% if current_user.is_authenticated == False %}
			<script> 
				$(document).ready(function(){
           if ($(window).width() < 900){
				      $("#Mobile_Status_Text").append("PROFILE");
           } 
        });
			</script>
		{% endif %}
		{% if current_user.is_authenticated %}
    	<script> 
				$(document).ready(function(){
     			if ($(window).width() < 900){
						$("#Mobile_Status_Text").append("{{ current_user.username }}");
     			} 
				});
			</script>      
		{% endif %}
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta charset="UTF-8">
</head>



<body id="Cart">
    <script>
        // AFTR_MARKT
        // Hype Culture, Reinvented
        //
        //
        // Designed by: Kyle Awah (816012635)
        //
        // Created on: 23/3/2020
        // INFO 2602 (Web Programming and Technologies 1)
    </script>


    <!-- NAVIGATION TABS -->

		<header>
    <div class="nav" id="navbar">
			<nav>
				<a class="mobile_nav" id="mobile_nav"> 
    
        </a>
        <ul class="nav_bar_element">
            <li id="desktop_nav" class="nav_bar_element">
                        
            </li>
            <li class="nav_bar_element">
                <a href="/discover">
                    <img src="Icons/featured.png" height="15" alt="DISCOVER" />
                    DISCOVER
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/tees">
                    <img src="Icons/tees.png" height="15" alt="TEES" />
                    TEES
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/jackets">
                    <img src="Icons/jackets.png" height="15" alt="JACKETS" />
                    JACKETS
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/pants">
                    <img src="Icons/pants.png" height="15" alt="PANTS" />
                    PANTS
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/shoes">
                    <img src="Icons/shoes.png" height="15" alt="SHOES" />
                    SHOES
                </a>
            </li>
            <li class="nav_bar_element">
                <a href="/accessories">
                    <img src="Icons/accessories.png" height="15" alt="ACCESSORIES" />
                    ACCESSORIES
                </a>
            </li>
            <li class="nav_bar_element">
                <a class="active" href="/cart" id="Mobile_Cart_Text">
                    <img src="Icons/shopping_cart.png" class="final_icons" alt="CART" />
										{% if session['ShoppingCart']|length > 0 %}
											{{session['ShoppingCart']|length}}
										{% endif %}
                </a>
            </li>
            <li class="nav_bar_element">
							{% if current_user.is_authenticated == False %}
                <a href="/login" id="Mobile_Status_Text">
                    <img id="PROFILE_STATUS" src="Icons/profile.png" class="final_icons" alt="Profile" />
                </a>
							{% endif %}

							{% if current_user.is_authenticated %}
                <a href="/profile" id="Mobile_Status_Text">
                    <img id="PROFILE_STATUS" src="Icons/logged_in.png" class="final_icons" alt="Profile" />
                </a>
							{% endif %}
            </li>
        </ul>
			</nav>
    </div>
		</header>

		{% if 'ShoppingCart' in session and session['ShoppingCart']|length > 0: %}

    <div class="Page_Heading">
        <h1> YOUR SHOPPING CART </h1>
    </div>

		{% if current_user.is_authenticated == False %}
    <div id="ALERT" class="alert_bad">
        <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
        <strong> WARNING! </strong> You Are Not Currently Signed In, Please login to proceed with this purchase ........
        <button id="alert_btn_bad" onclick="window.location='/login'"> Login Here </button>
    </div>
		<br>
		{% endif %}

       <div class="CART_ITMES">
			{% for key , product in session['ShoppingCart'].items() %}
			<br>
        <div class="cart_display">
            <h2 id="ITEM_TITLE"> {{product.brand}} | {{product.name}} </h2>
            <div class="img_sep">
                <img src="Images/Placeholder_Square.png" alt="AN OBJECT TO BE SOLD" class="cart_image"/>
            </div>
            <div class="CART_ITEMS_DESC" onclick="window.location = '/{{product.catagory}}/{{product.id}}' ">
                <p id="Cart_Counter_desc"> CART_ITEM #{{loop.index}} : </p>
                <br>
                <p id="Product_Desc_cart">
				{{product.desc}}
                </p>
                <br>
				{{product.size}} | {{product.color}}
                <br>
                <p id="PROD_QTY"> ${{product.price}} </p>
            </div>
            <div class="cart_del_btn">
                <button onclick="window.location = '/{{product.catagory}}/remove_from_cart/{{product.id}}' " class="Remove_item_btn">
                Remove From Cart
            </button>
            </div>
        </div>
		{% endfor %}

		<br><br><br><br><br><br>
		{% if current_user.is_authenticated %}
			<div class="CHECK_OUT">
        <button class="FINAL" onclick="window.location = '/check_out'">
            CHECK OUT
            <img src="Icons/check_out.png" height="20" alt="Remove From Cart" />
        </button>
    	</div>
		{% endif %}

		{% if current_user.is_authenticated == False %}
    <div id="confirm_transaction">
        <button onclick="window.location='/login'"> LOGIN </button>
    </div>
		{% endif %}

		</div>

		{% else %}
		<!-- RECOMEND SOME ITEMS FOR THE USER TO BUY SINCE THEIR CART IS EMPTY-->

	    <div class="Page_Heading">
        <h1> YOUR SHOPPING CART IS EMPTY</h1>
        <p> (DON'T PANIC)</p>
    </div>

    <div class="empty_display">
        <h1 class="empty_cart_display_text"> HERE ARE SOME OF THE BEST DEALS WE COULD FIND TO HELP YOU FILL IT </h1>
        <div class="Card-Display">

            <div class="card" onclick="window.location='/tees/{{product_1.id}}'">
                <img class="card_image" src="Images/Placeholder_Square.png" height="200px">
                <h1 class="card_product_name"> {{product_1.name}} </h1>
                <p class="card_product_desc"> {{product_1.desc}} 
                </p>
                <h4 class="card_price"> ${{product_1.price}} </h4>
            </div>
            
						<div class="card" onclick="window.location='/jackets/{{product_2.id}}'">
                <img class="card_image" src="Images/Placeholder_Square.png" height="200px">
                <h1 class="card_product_name"> {{product_2.name}} </h1>
                <p class="card_product_desc"> {{product_2.desc}} 
                </p>
                <h4 class="card_price"> ${{product_2.price}} </h4>
            </div>

						<div class="card" onclick="window.location='/pants/{{product_3.id}}'">
                <img class="card_image" src="Images/Placeholder_Square.png" height="200px">
                <h1 class="card_product_name"> {{product_3.name}} </h1>
                <p class="card_product_desc"> {{product_3.desc}} 
                </p>
                <h4 class="card_price"> ${{product_3.price}} </h4>
            </div>

						<div class="card" onclick="window.location='/shoes/{{product_4.id}}'">
                <img class="card_image" src="Images/Plaeholder_Square.png" height="200px">
                <h1 class="card_product_name"> {{product_4.name}} </h1>
                <p class="card_product_desc"> {{product_4.desc}} 
                </p>
                <h4 class="card_price"> ${{product_4.price}} </h4>
            </div>

						<div class="card" onclick="window.location='/accessories/{{product_5.id}}'">
                <img class="card_image" src="Images/Placeholder_Square.png" height="200px">
                <h1 class="card_product_name"> {{product_5.name}} </h1>
                <p class="card_product_desc"> {{product_5.desc}} 
                </p>
                <h4 class="card_price"> ${{product_5.price}} </h4>
            </div>

        </div>
    </div>
		{% endif %}

</body>
</html>
